<nav class="navbar navbar-light navbar-expand-md">
    <div class="container">
        <a class="navbar-brand" href="#">Me</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li><a href='#my-projects'>My Projects </a></li>
                <li><a href="#my-project-peahead">Peahead</a></li>
                <li><a href="#my-project-thisdevsmind">This Devs Mind</a></li>
                <li><a href="#my-project-danceconnect">Dance Connect</a></li>
            </ul>
        </div>
    </div>
</nav>